#main {
  background-color: burlywood;
  height: 400px;
  width: 800px;
  position: relative;
}

.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #58b7ff;
  transition: 0.2s all ease;
}
